	html, body {
	overflow-x: hidden;
	}
  h2 {
    text-align: center;
    color: #1e8bc3;
  }
/* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
     
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  .navbar {
	margin-left: 0px;
	margin-right: 0px;
	}

.list-task {
    color: #fff;
    font-weight: bolder;
    margin: 8px 0 8px 0;
}

.list-task > div {
    background-color: #333;
    box-shadow: 1px 1px 2px #111;
    padding: 4px 0;
    border-radius: 5px;
}

.list-task-id {
    text-align: center;
}

.list-task-name {
    text-align: center;
}

.list-task-update {
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    color: #44aa55;
}

.list-task-update > a > span {
    text-shadow: 1px 1px 2px #000;
    color: #44aa55;
}

.list-task-remove {
    text-align: center;
}

.list-task-remove > a > span {
    text-shadow: 1px 1px 2px #000;
    color: #D91E18;
}

.form-horizontal .form-group {
   margin-right: 0px !important;
   margin-left: 0px !important;
}